* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
}

.box:nth-of-type(2n) {
  transform: translateX(-1000px);
}

.box:nth-of-type(2n + 1) {
  transform: translateX(1000px);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: gray;
  color: white;
  transition: transform 0.5s linear;
}

.box.show {
  transform: translateX(0);
}
